.FilterOptions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 14px;
}

@media (max-width: 767px) {
    .FilterOptions {
        font-size: 14px;
    }
}

.FilterOptions__Filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.FilterOptions__ClearCompleted:hover{
    text-decoration: underline;

}
.FilterOptions__StatusFilters {
 display: flex;
}

.FilterOptions__ClearCompleted--hidden {
    visibility: hidden;
}